[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tweepy = "*"
fastapi = "*"
firebase-admin = "*"
pandas = "*"
python-dotenv = "*"
numpy = "*"
passlib = "*"
sqlalchemy = "*"
google-cloud-datastore = "*"
uvicorn = "==0.17.6"
isort = "*"
yapf = "*"

[dev-packages]

[requires]
python_version = "3.10.4"

[scripts]
dev="uvicorn --host=0.0.0.0 --port=5043 --debug --log-level=debug main:app --reload"
prod="uvicorn --host=0.0.0.0 --port=5043 main:app --reload"
format = "yapf -r -i ."
lint   = "flake8 --show-source ."
